<div class="container">
  <form (ngSubmit)="onSubmit()" class="ui form" [hidden]="loginService.checkLogin()">
    <div class="field">
      <label for="username">Username</label>
      <input id="username" type="text" [(ngModel)]="model.username" ngControl="username" placeholder="Username"
        name="username" required>
    </div>
    <div class="field">
      <label for="password">Username</label>
      <input id="password" type="password" [(ngModel)]="model.password" ngControl="password" placeholder="Password"
             name="password" required>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>

  <div [hidden]="!loginService.checkLogin()">
    <h3>Logged in successfullly! </h3>
    <h2>Welcome back, {{currentUserName}}</h2>
  </div>
</div>
