<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="/home" routerLinkActive="active">Lagoon</a>
    <ul id="nav-movile" class="right hide-on-med-and-down">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/my-album" routerLinkActive="active">My Album</a></li>
      <li *ngIf="!loginService.checkLogin()"><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/login" routerLinkActive="active" (click)="onClick()">
        {{loginService.checkLogin() ? 'Logout' : 'Login'}}
      </a></li>
    </ul>
  </div>
</nav>
