<div class="container">
  <form *ngIf="!registered" class="col s12" (ngSubmit)="onSubmit()" #registerForm = "ngForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstName" type="text" class="validate" [(ngModel)]="newUser.firstName" ngControl="firstName" name="firstName">
        <label for="firstName">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" class="validate" [(ngModel)]="newUser.lastName" ngControl="lastName" name="lastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate" [(ngModel)]="newUser.userName" ngControl="userName" name="userName">
        <label for="userName">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" [(ngModel)]="newUser.password" ngControl="password" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="passwordConfirmation" type="password" class="validate" ngControl="password2">
        <label for="passwordConfirmation">Password Confirmation</label>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-light btn" [disabled]="!registerForm.form.valid">Register</button>
  </form>

  <div *ngIf="registered">
    <h1>Register Success!</h1>
  </div>
</div>
