<div class="container">
  <form *ngIf="!registered" class="col s12" (ngSubmit)="onSubmit()" #registerForm = "ngForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstName" type="text" class="validate" [(ngModel)]="newUser.firstName" ngControl="firstName" name="firstName">
        <label for="firstName">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" class="validate" [(ngModel)]="newUser.lastName" ngControl="lastName" name="lastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate" [(ngModel)]="newUser.userName" ngControl="userName" name="userName">
        <label for="userName">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" [(ngModel)]="newUser.password" ngControl="password" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="passwordConfirmation" type="password" class="validate" ngControl="password2">
        <label for="passwordConfirmation">Password Confirmation</label>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-light btn" [disabled]="!registerForm.form.valid">Register</button>
  </form>

  <div *ngIf="registered">
    <h1>Register Success!</h1>
  </div>
</div>

<div class="jumbotron">
  <h2>Data Driven (Reactive) Form</h2>
  <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="form-group">
      <label>First Name:</label>
      <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
      <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['firstName']">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" type="text" placeholder="Doe" [formControl]="complexForm.controls['lastName']">
    </div>
    <div class="form-group">
      <label>Gender</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="gender" value="Male" [formControl]="complexForm.controls['gender']">
        Male
      </label>
    </div>
    <div class="radio">
      <label>
        <!-- This works the same way for radio and checkboxes as can be seen below -->
        <input type="radio" name="gender" value="Female" [formControl]="complexForm.controls['gender']">
        Female
      </label>
    </div>
    <div class="form-group">
      <label>Activities</label>
    </div>
    <label class="checkbox-inline">
      <input type="checkbox" value="hiking" name="hiking" [formControl]="complexForm.controls['hiking']"> Hiking
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="swimming" name="swimming" [formControl]="complexForm.controls['swimming']"> Swimming
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="running" name="running" [formControl]="complexForm.controls['running']"> Running
    </label>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
