<div class="container">
  <form *ngIf="!registered" class="col s12" [formGroup]="registerForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstName" type="text" formControlName="firstName" class="validate">
        <label for="firstName">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" formControlName="lastName" class="validate">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate" formControlName="userName">
        <label for="userName">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" formControlName="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="passwordConfirmation" type="password" formControlName="passwordConfirmation" class="validate">
        <label for="passwordConfirmation">Password Confirmation</label>
      </div>
    </div>

      <a type="submit" (click)="onSubmit(registerForm.value)" class="waves-effect waves-light btn"
         [ngClass]="{'disabled':!registerForm.valid}">
        Submit
      </a>
  </form>

  <div *ngIf="registered">
    <h1>Register Success!</h1>
  </div>
</div>
